* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: linear-gradient(45deg, #190361 0%, #BB00FF 100%);

    --orange: #FF9500;
    --white: #FFFFFF;
    --purple: #34355B;
    --light-blue: #E4EDF1;
    --black: #000000;
}

body {
    background: var(--bg);
		animation: gradient 10s ease infinite;
    background-size: 200% 200%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.cardOne {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 428px;
    height: 564px;

    width: 428px;
    height: 424px;

    background: var(--white);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

}

.cardTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 428px;
    height: 564px;

    background: var(--white);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

}

h1 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: var(--purple);
    line-height: 29px;
    font-style: normal;
    font-weight: 700;
}

p {
    font-family: 'DM Sans', sans-serif;
    color: var(--purple);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.cardOne img {
    width: 265px;
    height: 200px;
}

.quote-box {
    width: 293px;
    height: 107px;
    background: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.quote-box p{
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--black);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 16px;
    gap: 10px; */
    
    width: 174px;
    height: 52px;
    
    background: var(--orange);
    border-radius: 4px;  
    border: none;
    cursor: pointer;

    color: var(--white);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    transition: background .3s;
}

button:hover {
    background: #fbae43;
}